body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #de4b4b;
    border-radius: 5px;
    box-shadow: 0 0 10px #6245a0;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    flex: 1;
    padding-right: 10px;
}

input[type="number"] {
    flex: 2;
    padding: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #604caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6245a0;
}
